@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
}

/* .translated-ltr {
  margin-top: -40px;
}

.goog-te-banner-frame {
  display: none;
  margin-top: -20px;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
} */
.goog-te-gadget{
  display: none;
}
table {
  display: none;
  height: 0px;
}

.skiptranslate{
  display: none;
  height: 0px;
  }

  .translated-ltr , .translated-rtl{
    position: relative;
    top: -40px;
  }

  /* html{
    position: relative;
    top: -40px;
  } */